<!--
footer.ejs
Danielle Taplin
6/18/23
Footer for Pets-R-Us application
-->
    
    <!--display a footer on each page of the site; close body and HTML tags-->
    <footer class="footer">
        <p>Bellevue University WEB 340</p>
        <a href="https://www.pexels.com/">Copyright Pexels.com</a>
    </footer>
  </body>
</html>