<!--
header.ejs
Danielle Taplin
6/18/2023
Header for Pets-R-Us site
-->

<!DOCTYPE html>
<html lang="en">
  <head>

    <!--provide title, metadata, fonts, stylesheets(NEEDS UPDATING)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets-R-Us</title>
    <link rel="stylesheet" href="/public/styles/main.css">
    <!--font for project here-->
    
  </head>

  <body>
    <!--display nav bar with a logo that links to the index-->
    <nav>
      <a class="main-logo" href="">Pets-R-Us</a>
      <div class="nav-container">

        <!--display nav links to other pages on site-->
        <ul>
          <li>
            <!--display drop down menu with links to grooming, boarding, and training pages-->
            <a href="#">Services ▾</a>
            <ul class="dropdown">
                <li><a class="nav-link" href="">Grooming</a></li>
                <li><a class="nav-link" href="">Boarding</a></li>
                <li><a class="nav-link" href="">Training</a></li>
            </ul>
        </li>
            <!--display remaining nav links-->
            <li><a class="nav-link">Booking</a></li>
            <li><a class="nav-link">Customers</a></li>
            <li><a class="nav-link">My Appointments</a></li>
            
        </ul>
    </div>
</nav>